.Slider {
    width: 100%; 
          
   display: flex;
    margin: 0 auto;
   
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
}

.SliderMobile {
    width: 100%; 
          
   display: none;
    margin: 0 auto;
    min-height: auto;
    align-items: center;
    justify-content: center;}

.inner{

    display: flex;
}

.item{

min-width: 700px;
max-height: 500px;
padding: 14px;
display: flex;
flex-direction: row;

}

.item img {

    width:100%;
   object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
}
.carousel {

    cursor: grab;
    overflow: hidden;
}

@media (max-width:800px) {
    
    .item{

        min-width: 90vw;
        padding: 14px;
        }
        .Slider {
            width: 100%; 
                  
           display: flex;
            margin: 0 auto;
            min-height: auto;
            align-items: center;
            justify-content: center;
            
        }
        .SliderMobile{

            display: flex;
        }

}