.header {

    margin-top: none;

}

.headerTitles {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.headerTitleSm{
position: absolute;
top:20%;
font-size: 80px;
width: 40%;

}

.headerTitleLg{
    position: absolute;
    top:30%;
    font-size: 20px;
    
    }

    .headerImg {
        width: 100%;
        height: 70vh;
        margin-top: 20px;
        object-fit: cover;
    }
    @media (max-width: 780px){

        .headerTitleSm{
            position: absolute;
            top:20%;
                width: 40%;
                display: none;
            
            }

    }